<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" 
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">
            
    <!-- 基本配置管理  -->
	<import resource="config/spring/applicationContext-base.xml" />
		
	<!-- cxf webservice配置管理  -->
	<import resource="config/spring/applicationContext-cxf.xml" />

	<!-- Hibernate 持久化配置管理 -->
	<import resource="config/spring/applicationContext-persistence-hibernate.xml" />
	
	<!-- Mybatis 持久化配置管理 -->
	<!--  
	<import resource="config/spring/applicationContext-persistence-mybatis.xml" />
	-->
	
	<!-- kaptcha 验证码配置管理 -->
	<import resource="config/spring/applicationContext-kaptcha.xml" />

</beans>