@charset "utf-8";
/* #################### 主控制 ##################### */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,tr,td {
	BORDER-TOP-WIDTH: 0px;  BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px;MARGIN: 0px;PADDING: 0px; VERTICAL-ALIGN: baseline;  BORDER-RIGHT-WIDTH: 0px; outline: 0; 
}
ul{ list-style-type:none;}
body{ font-family:Arial; font-size:12px; text-align:center; margin:0 auto; background-color:#fffff;}
a{ text-decoration:none;}
a:link{color:#3e3e3e;}
body a:hover{color:#ff8101;cursor: pointer;}


.clear {
    clear: both;
    height: 0;
    overflow: hidden;
    width: 0;
}
a {
    text-decoration: none;
}
i {
    font-style: normal;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.sys_ct{
	width: 106px;
	height: 26px;
	text-align: center;
}
/*弹窗CSS-

*/


.tanchuang0 {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.tanchuang0 .filter {
    background: none repeat scroll 0 0 #000000;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0.3;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 140;
}
.tanchuang0 iframe {
    border: 0 none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.tccontent0 {
    left: 18%;
    position: absolute;
    text-align: left;
    top: 10.5%;
    width: 932px;
    z-index: 200;
}